{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-md-4">
    <div class="card md-4 box-shadow">
        <img class="card-img-top"
                 src="{{ object.photo|dogs_media }}" width="300" height="320"
                 alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Кличка: {{ object.name|title }}</p>
            <span class="text-muted">Дата рождения: {{ object.birth_date|default:"-" }}</span><br>
            {% if object.owner %}
            <span class="text-muted">Имя хозяина: {{ object.owner.first_name|default:"Не указано" }}</span><br>
            <span class="text-muted">Телефон: {{ object.owner.phone|default:"Не указано" }}</span><br>
            <span class="text-muted">Телеграм: {{ object.owner.telegram|default:"Не указано" }}</span><br>
            <span class="text-muted">Эл. почта: {{ object.owner.email|default:"Без хозяина" }}</span><br>
            {% else %}
            <span class="text-muted">Без хозяина</span>
            {% endif %}
        </div>
        <div class="card-footer">
            <a class="btn btn-link" href="{% url 'dogs:dog_update' object.pk %}">изменить</a>
            <a class="btn btn-link" href="{% url 'dogs:dog_delete' object.pk %}">удалить</a>
        </div>
    </div>
</div>
{% endblock %}